.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #465DFF;
}

.logo {
    width: 38px;
    height: 38px;
    margin: 18px 0 18px 70px;
}

.header_loggedIn {
    background-color: #FFFFFF;
}

@media screen and (max-width: 800px) {
   .logo {
    margin-left: 30px;
   }
}

@media screen and (max-width: 400px) {
    .logo {
     margin-left: 14px;
    }
}